.form-container {
    display: flex;
    height: 100vh;
}
.card-container {
    margin: auto;
    width: 40%;
    border-radius: 2% !important;
}
.loading {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.add-btn {
    background-Color:#4CAF50 !important;
    border: none !important;
}
a {
    color: 'grey' !important;
    text-decoration: none !important;
}
.close:focus {
    outline: none !important;
}

.nav-align {
    display: flex ;
    flex: 1;
    justify-content:flex-end;
    margin-right: 25px;
}
.nav-link:hover {
    color: white !important;
}
.spacer {
    padding: 10px 30px !important;
}
.layout {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 !important;
}
.card-layout {
    height: 400px;
    width: 350px;
    margin-bottom: 3rem;
}

.card-img {
    width: auto;
    height: 200px;
}


