
.form-card {
    width: 25em;
    border-radius: 2% !important;
}
.loading {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.add-btn {
    background-Color:#4CAF50 !important;
    border: none !important;
}
a {
    color: 'grey' !important;
    text-decoration: none !important;
}
.close:focus {
    outline: none !important;
}

.nav-link:hover {
    color: white !important;
}
.card-img {
    width: auto;
    height: 200px;
}

 @media(max-width: 600px) {
  .navbar h3{
      font-size: x-large
  }
  a svg {
      font-size:  40px !important;
  }
  .navbar-nav a svg{
    font-size: 20px !important;
  }
} 
